{{#each notes}}
    <article class="note note--highlight-{{highlight}}{{#if finished}} note--done{{/if}}" data-note-id="{{_id}}">
        <div class="note__content" title="Click to expand/collapse">
            <h2 class="note__title">{{title}}</h2>
            <small class="note__dates">
                <time class="note__date note__date--created" title="Creation date" datetime="{{creationDate}}">{{creationDate}}</time><span class="insivible">,</span>
                <time class="note__date note__date--deadline" title="Deadline" datetime="{{deadlineDate}}">{{deadlineDate}}</time>
            </small>
            <div class="note__details">
                <p class="note__paragraph">{{content}}</p>
            </div>
        </div>
        <p class="note__importance note__importance--{{importance}}" title="{{#if (eq importance 0)}}not important{{/if}}{{#if (eq importance 1)}}important{{/if}}{{#if (eq importance 2)}}very important{{/if}}{{#if (eq importance 3)}}extremely important{{/if}}">
            <span class="visuallyhidden">Importance {{importance}} of 3</span>
        </p>
        <div class="note__interactions">
            <div class="note__fieldset">
                <button class="note__interactions-item note__interactions-item--check note__label{{#if finished}} note__label--checked{{/if}}" title="{{#if finished}}unfinish {{else}}finish{{/if}} note"><span class="visuallyhidden">{{#if finished}}unfinish {{else}}finish{{/if}} note</span></button>
            </div>
            <div class="note__fieldset">
                <button class="note__interactions-item note__edit note__edit--edit" title="edit note"><span class="visuallyhidden">edit note</span></button>
            </div>
            <div class="note__fieldset">
                <button class="note__interactions-item note__interactions-item--delete note__edit note__edit--delete" title="delete note"><span class="visuallyhidden">delete note</span></button>
            </div>
        </div>
    </article>
{{/each}}
